h1{
    padding:10px;
}
.slogan{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #19a0a0;
    min-height: 90px;
    color: white;
    box-sizing: border-box;
    font-size: 1.6em;
    font-weight: 300;
    font-family: sans-serif;
    padding: 30px 0px 30px 25px;
}

.container  {
    max-width: 1024px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.logo{
    box-sizing: border-box;
    padding:25px; 
}

.card-header {
    background-color: #19a0a0;
    color: white;
}
.card {
    margin-bottom: 25px;
    height: 350px;
}

.card-footer {
    background-color: whitesmoke;
    font-weight: bold;
}